@page "/Invitation/{UserHash}"

@inject NavigationManager _nav
@inject IPersonService _person
@inject IRequestService _req

<style>
    body{
        color: #D7AF00;
        background: #0a0a0a;
    }

    th{
        color: #ffd404;
    }

    td{
        color: #ffd404;
    }

    table{
        color: #ffd404;
        background: #0a0a0a;
    }
</style>

@code {
    [Parameter]
    public string UserHash { get; set; }

    public Person Person { get; set; } = new();
    List<Request> Requests = new();
    string input = "";
    int amount = 1;

    bool hidden = true;

    List<int> PeopleCount = new();

    int state = 0;

    void SetState(int num){
        state = num;

        hidden = true;

        InvokeAsync(StateHasChanged);
    }

    void AddToList(){

        if (string.IsNullOrEmpty(input)) return;

        var req = new Request()
        {
            RequestAmount = amount,
            RequestArticle = input
        };

        Requests.Add(req);

        InvokeAsync(StateHasChanged);
    }

    void Submit(){

        if (state == 0)
        {
            hidden = false;
            InvokeAsync(StateHasChanged);
            return;
        }

        foreach (var item in Requests)
        {
            _req.AddRequestToPerson(item, UserHash);
        }

        switch (state)
        {
            case 1:
                _person.SetPersonToComing(UserHash);
                break;
            case 2:
                _person.SetPersonToMaybe(UserHash);
                break;
            case 3:
                _person.SetPersonToDeclined(UserHash);
                break;
            default:
                break;
        }

        _nav.NavigateTo("");
    }

    void RemoveFromList(string articleName){
        Requests.Remove(Requests.First(x => x.RequestArticle.Equals(articleName)));

        InvokeAsync(StateHasChanged);
    }

    protected override async void OnInitialized()
    {
        for (int i = 0; i < 6; i++)
        {
            PeopleCount.Add(0);
        }
        var person = await _person.GetPersonByHash(UserHash);
        if (person == null) {
            _nav.NavigateTo("");
            return;
        }

        if (!await _person.IsPersonAllowed(UserHash)) {
            _nav.NavigateTo("");
            return;
        };
        
        PeopleCount = await _person.GetAllReports();

        Person = person;
    }
}

<div class="container">
    <div class="row text-center">
        <!-- Greeting -->
        <h1>Hallo @Person.PersonName !</h1>
    </div>
    <div class="row text-center mt-5">
        <!-- Text -->
        <div style="font-size: 35px" class="mb-5">
            Es ist wieder soweit.<br />
            Nach Jahren der Enthaltsamkeit und des Ausharrens geht es weiter.<br />
            Haunis Kellerparty steht wieder in den Startlöchern für die nächste Runde und du bist mitten drin.
        </div>

        <h2><ins>Wann ? </ins></h2>
        <h3 class="mb-5">yes</h3>

        <h2><ins>Wo ?</ins></h2>
        <h3 class="mb-5">In Haunschmied's Kellerstüberl</h3>

        <h2><ins>Wieviele Leute kommen?</ins></h2>
        <h3 class="mb-5">Den aktuellen Stand kannst du weiter unten Nachlesen.</h3>
        
        <h2><ins>Wie siehts mit Speisen und Getränken aus?</ins></h2>
        <h3 class="mb-5">Nachdem ich nicht auswendig weiß wer was isst / trinkt, bitte ich dich deine Wünsche unten in die Tabelle ein zu tragen</h3>

        <h2><ins>Wie kann ich Zu- / Absagen?</ins></h2>
        <h3 class="mb-5">Unter den Getränken befinden sich 3 Buttons. Zusagen, Vielleicht, Absagen. Einfach auf einen Klicken, sodass der Button voll ist. So einfach ist es. </h3>

        <h2><ins>Gibt es sonst noch etwas zu Wissen?</ins></h2>
        <h3>Ja. "Regel Nr. 1: Ihr verliert kein Wort über Haunis Kellerparty"</h3>

    </div>
    <div class="row justify-content-center mt-5">
        <!-- Form -->

        <div class="row">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Anzahl</th>
                        <th scope="col">Name</th>
                        <th scope="col">Löschen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Requests)
                    {
                        <tr>
                            <td>@item.RequestAmount</td>
                            <td>@item.RequestArticle</td>
                            <td><button class="btn btn-danger" @onclick="() => RemoveFromList(item.RequestArticle)">Löschen</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row justify-content-center mb-5 mt-5">
            <div class="col-sm mt-2" >
                <input @bind=amount type="number" min="1" class="form-control bg-black" />
            </div>
            <div class="col-sm-7 mt-2">
                <input @bind=input type="text" class="form-control bg-black" />
            </div>
            <div class="col-sm mt-2">
                <button class="btn btn-warning" style="width: 100%" @onclick="() => AddToList()"> Add </button>
            </div>
        </div>
        <div class="row text-center">
            <div class="alert alert-danger @(hidden ? "invisible" : "visible")" role="alert">
                <p>Du musst noch Eine Zu- / Absage machen.</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <button class="@(state == 1 ? "btn btn-success" : "btn btn-outline-success") w-100" @onclick="() => SetState(1)">Zusagen</button>
                </div>
                <div class="col">
                    <button class="@(state == 2 ? "btn btn-warning" : "btn btn-outline-warning") w-100" @onclick="() => SetState(2)"> Vielleicht</button>
                </div>
                <div class="col">
                    <button class="@(state == 3 ? "btn btn-danger" : "btn btn-outline-danger") w-100" @onclick="() => SetState(3)"> Absagen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 text-center mt-5">
        <!-- Statistics -->

        <h3>Anzahl eingeladener Personen: @PeopleCount[0]</h3>
        <h3>Noch nicht Zu/ Abgesagt: @PeopleCount[1]</h3>
        <h3>Zugesagt : @PeopleCount[2]</h3>
        <h3>Vielleicht: @PeopleCount[3]</h3>
        <h3>Abgesagt: @PeopleCount[4]</h3>

    </div>

    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary w-50 center" data-bs-toggle="modal" data-bs-target="#submitContext">
            Abschließen
        </button>

        <!-- Modal -->
        <div class="modal fade" style="color: black;" id="submitContext" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Willst du den Vorgang abschließen?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bist du dir sicher, dass du alles richtig eingegeben hast?
                        Nach dem Abschicken können deine Eingaben nicht mehr geändert werden.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="() => Submit()" >Fertig</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer class="text-white">
    <hr>
    <div class="">Made by Bamsti</div>
    <div>Bei Fehlern bitte einen <a href="https://github.com/HaunBa/PartyInvitation/issues/new/choose">Bugreport</a> schreiben.</div>
</footer>